.cart-icon {
    cursor: pointer;
    width: 60px;
}

.card__elem {
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card__elem img {
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.modal-body canvas {
    margin-top: 20px;
    width: 100%;
}
